@keyframes rotation {
  from {
    transform: rotate(-100deg);
  }
  to {
    transform: rotate(198deg);
  }
}
.MintContainer {
  display: flex;
  max-width: 80%;
  width: 80%;
  margin: auto;
  text-align: center;
}
.MintContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.MintContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.mint1 {
  position: relative;
  margin-top: 100px;
  width: 33.33%;
}
.backbear {
  border: solid 5px #d796f8;
  border-radius: 35px;
  width: 65%;
  position: absolute;
  top: 14%;
  left: 15%;
}
.bear1Mint {
  position: absolute;
  width: 72%;
  height: 50%;
  left: 15%;
  top: -12.5%;
}
.linearback {
  max-width: 200%;
  width: 200%;
  transform: rotate(20deg);
  position: relative;
  left: -120px;
  top: -50px;
  animation: rotation 20s;
  animation-iteration-count: infinite;
}
@media (max-width: 700px) {
  .bear1Mint {
    width: 185.59px;
    height: 233.25px;
    top: -108px;
    left: 15px;
  }
  .backbear {
    width: 200px;
    height: 250px;
  }
  .mint1 {
    display: none;
  }
}
