.RoadmapContainer {
  position: relative;
  padding: 10px;
  padding-bottom: 80px;
  /* max-width: 100%; */
  margin: auto;
  top: 10px;
  /* background-color: white; */
  margin-left: 70px;
  height: 800px;
}
.RoadMapHeader {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}
.roadmapH1 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 100px;
}
.roadmap_items:not(:last-child):after {
  content: "";
  background: #ffffff;
  position: absolute;
  /* bottom: 2px; */
  left: 25px;
  height: 84px;
  width: 1px;
  top: 143px;
}

.roadmap_items {
  position: relative;
  margin-top: -20px;
  height: 170px;
}
.marketing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
}
.marketingDesc {
  color: #b8b8b8;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.icon_div {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 0 0 0 5px #f2f3f7; */
  border: 2px dashed #ffffff;
  /* line-height: 40px; */
  position: relative;
  top: 83px;
  /* left: 38px; */
}
.roadmap_items:nth-child(2) .icon_div_div {
  background: #9e4ce3;
}
.icon_div_div {
  background: #d9d9d9;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: auto;
  left: 6%;
}
.roadmap_item {
  position: relative;
  /* padding: 1.5em; */
  padding-top: 10px;
  padding-left: -10px;
  /* padding-bottom: 15; */
  margin-left: 70px;
  width: 50%;
}
@media (max-width: 1024px) {
  .RoadMapHeader {
    width: 100%;
    max-width: 100%;
    display: block;
    text-align: center;
  }
  .RoadMapHeader h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .RoadmapContainer {
    margin-left: 10%;
  }
  .roadmap_item h1 {
    font-size: 100%;
  }
}
@media (min-width: 1610px) {
  .roadmap_items_container{
    margin-left: 12%;
  }
}
@media (max-width: 1024px) {
  .RoadmapContainer {
    margin-left: 15px;
  }
  .roadmap_items{
    margin-left: 10%;
  }
}
@media (max-width: 782px) {
  .marketing{
    font-size: 28px;
  }
  .marketingDesc{
    font-size: 20px;
  }
  .roadmap_items{
    margin-left: 5%;
  }
}
@media (max-width: 664px) {
  .roadmapH1 {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .roadmap_items {
    margin-top: -30px;
  }
  .marketing {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15.7834px;
    line-height: 24px;
  }
  .RoadmapContainer{
    height:600px;
  }
  .marketingDesc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  .roadmap_items:not(:last-child):after {
    height: 73px;
  }
  .roadmap_items{
    margin-left: 0;
  }
}
@media (max-width:1201px){
  .roadmap_item{
    width: 80%;
  }
}