* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  position: relative;
}
.section1 {
  /* padding-top: 50px; */
  position: relative;
  /* height: 780px; */
  top: 80px;
  width: 100%;
  /* background: linear-gradient(90deg, #111111 0%, #16122e 100%); */
  /* display: flex; */
}
.ImgContainer {
  width: 65%;
  position: absolute;
  right: 0;
  top: -80px;
  /* margin-right: 20px; */
}
.brandIcon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  background: linear-gradient(89.74deg, #fa00ff 0.4%, #6d8fee 17.36%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.brandIcon,
.brandIconP {
  font-size: 280%;
}
.brandIconP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  background: linear-gradient(89.74deg, #fff 0.4%, #fff 17.36%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section1Container {
  width: 80%;
}
.textBrand {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #fff;
  line-height: 45px;
  /* margin-left: 50px; */
  max-width: 45%;
  margin-top: 40px;
}

.NFTBrand1 {
  /* width: 50%; */
  position: absolute;
  left: 90px;
  top: 110px;
}
/* .exploreBtn {
  color: #fff;
  background-color: #9743e0;
  width: 221px;
  /* height: 65px; */
/* padding-top: 7px;
  padding-bottom: 7px;
  left: 203px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%; */
.section2{
  position: relative;
  top:80px;
  width:100%;
  background: linear-gradient(90deg, #111111 0%, #16122E 100%);
}
@media (max-width: 1024px) {
  .section1Container {
    /* width: 100%; */
  }
  .ImgContainer {
    position: static;
    width: 100%;
  }
  .NFTBrand1 {
    position: static;
    width: 100%;
  }
  .section1 {
    height: fit-content;
  }
  .textBrand {
    width: 90%;
    max-width: 90%;
    margin: auto;
    /* margin-left: 0;
    margin-right: 0; */
    font-size: 150%;
    line-height: 40px;
  }
  .brandIcon,
  .brandIconP {
    font-size: 100%;
  }
}
