@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  font-family: "Poppins";
  font-weight: 400px;
}
.body {
  position: relative;
}
.section1 {
  position: relative;
  top: 93px;
  max-width: 100%;
}
.ImgContainer {
  width: 65%;
  position: absolute;
  right: 0;
  top: -80px;
  /* margin-right: 20px; */
}

/* .textBrand p{
  transform: scale(1.1, 1.1);
} */
.NFTBrand1 {
  /* width: 50%; */
  position: absolute;
  left: 90px;
  top: 110px;
}

.MintBtnSection {
  text-align: center;
  margin-top: -10%;
  color: #b8b8b8;
}
.MintBtnSection p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.section2 {
  position: relative;
  top: 80px;
  width: 100%;
  background: linear-gradient(90deg, #111111 0%, #16122e 100%);
}
.section22 {
  background-color: black;
  /* top: 80px; */
  color: #fff;
  font-size: 200%;
  padding-top: 155px;
  margin-top: 0;
  padding-bottom: 95px;
}
.section22 h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 100px;
}
@media (max-width: 1024px) {
  .section1Container {
    /* width: 100%; */
  }
  .ImgContainer {
    position: static;
    width: 100%;
  }
  .NFTBrand1 {
    position: static;
    width: 100%;
  }
  .section1 {
    height: fit-content;
  }
  .textBrand {
    width: 90%;
    max-width: 90%;
    margin: auto;
    /* margin-left: 0;
    margin-right: 0; */
    font-size: 130%;
    line-height: 32px;
  }
  .brandIcon,
  .brandIconP {
    font-size: 100%;
  }
  .section22 {
    font-size: 100%;
  }
}
@media (max-width: 1250px) {
  .textBrand {
    font-size: 140%;
    color: #fff;
    line-height: 33px;
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .section22 h1 {
    margin-bottom: -60px;
  }
  .MintBtnSection {
    margin-top: -50px;
  }
  .MintBtnSection p{
    font-size: 16px;
    padding: 10px;
  }
}
/* @media (min-width:1233px){
  .brandIcon , .brandIconP{
    font-size: 550%;
  }
} */
