.section {
  /* background-color: black; */
  width: 100%;
  height: 40%;
  padding: 0;
  margin: auto;
  margin-top: -30px;
}
@keyframes glidphone {
  0% {
    top: 40%;
    left: 13%;
  }
  100% {
    top: 42%;
    left: 15%;
  }
}
@keyframes glidphone1 {
  0% {
    top: 64%;
    left: 13%;
  }
  100% {
    top: 66%;
    left: 15%;
  }
}
@keyframes glidphone2 {
  0% {
    top: 53%;
    right: 5%;
}
100% {
    top: 51%;
    right: 3%;
}}

@keyframes glide {
  from {
    top: 75%;
    left: 26%;
  }

  to {
    top: 73%;
    left: 24%;
  }
}
@keyframes glide2 {
  from {
    top: 43%;
    left: 26%;
  }

  to {
    top: 41%;
    left: 24%;
  }
}
@keyframes glide3 {
  from {
    top: 52%;
    right: 15%;
  }

  to {
    top: 50%;
    right: 13%;
  }
}
.container {
  max-width: 100%;
  overflow: hidden;
}
.imagesWrapper1 {
  position: relative;
}
.backgroudImg1 {
  width: 100%;
  /* max-width: 100%; */
}
.bear1 {
  position: absolute;
  width: 40%;
  top: 14%;
  left: 40%;
}
.earth1 {
  position: absolute;
  width: 35%;
  top: 70%;
  left: 43%;
}
.rock11 {
  position: absolute;
  top: 74%;
  left: 20%;
  width: 10%;
  animation: glide 2s ease-in-out alternate infinite;
}
.rock21 {
  position: absolute;
  top: 42%;
  left: 20%;
  width: 8%;
  animation: glide2 2s ease-in-out alternate infinite;
}
.rock31 {
  position: absolute;
  top: 53%;
  right: 5%;
  width: 8%;
  animation: glide3 2s ease-in-out alternate infinite;
}
.ejbari {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.backlinear1 {
  transform: rotate(20deg);
  position: absolute;
  top: 4%;
  animation: rotation 20s;
  animation-iteration-count: infinite;
}
@media (max-width: 664px) {
  .backgroudImg1 {
    width: 140%;
    left: -25%;
    position: relative;
  }
  .backlinear1 {
    transform: rotate(20deg);
    position: absolute;
    top: 0;
    animation: rotation 20s;
    animation-iteration-count: infinite;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bear1 {
    position: absolute;
    width: 52%;
    top: 14%;
    left: 27%;
  }
  .earth1 {
    position: absolute;
    width: 43%;
    top: 65%;
    left: 32%;
  }
  .rock11 {
    animation: glidphone 2s ease-in-out alternate infinite;
  }
  .rock21{
    animation: glidphone1 2s ease-in-out alternate infinite;
  }
  .rock31{
    animation: glidphone2 2s ease-in-out alternate infinite;
  }
}
